root {
    --primarybrand-color-iris: #4D5AE5;
    --pressedstate-color-ocean: #404BBF;
    --dark-color-navy: #2E2F42;
    --success-color-green: #31D0AA;
    --text-color-slate: #434455;
    --subtitletext-color-ligntslate: #8E8F99;
    --accent-color-cornflower: #E7E9FC;
    --light-color-cloud: #F4F4FD;
    --modaloverlay-color-navybluemodal: #2E2F42;
    --herobackground-color-gray: #2E2F42;
    --whitebackground-color-wtite: #FFFFFF;
    --modalbackground-color-modal: #FCFCFC;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
    font-family: Roboto, sans-serif;
    color: var(--text-color-slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--dark-color-navy, #2E2F42);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/*==== Основний контейнер =====*/
.container {
    padding-left: 16px;
    padding-right: 16px;
}

/*==== клас-ховалка контенту =====*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-open {
    visibility: visible;
}

/*==== Описаловка Хедеру =====*/
.header-block {
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: inline-flex;
    color: var(--primarybrand-color-iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    align-items: baseline;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-span {
    color: var(--dark-color-navy, #2E2F42);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.activ-page {
    color: var(--pressedstate-color-ocean, #404BBF);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--primarybrand-color-iris, #4D5AE5);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--pressedstate-color-ocean, #404BBF);
}

/*------кнопка закривашка модального і вікна навігації в мобілці ------*/
.modal-close-x-btn {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color-cornflower, #E7E9FC);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--modaloverlay-color-navybluemodal, #2E2F42);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-x-btn:hover,
.modal-close-x-btn:focus {
    background-color: var(--pressedstate-color-ocean, #404BBF);
    border: none;
    fill: var(--whitebackground-color-wtite, #FFFFFF);
}

/*-----сам хрестик у закривашці----*/
.modal-close-x-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*==== Описаловка модaльного вікна =====*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background: var(--modalbackground-color-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: var(--modalbackground-color-modal, #FCFCFC);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

/*-------заголовок модального вікна-----*/
.modal-head-text {
    color: var(--modaloverlay-color-navybluemodal, #2E2F42);
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}

/*--------4 поля для вводу ім'я, телефону, мила і комента-------*/

.modal-contacts-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal-contacts-form {
    margin-bottom: 8px;
}

.modal-rewiew-label {
    color: var(--subtitletext-color-ligntslate, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-rewiew-input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--modaloverlay-color-navybluemodal, rgba(46, 47, 66, 0.40));
    padding-left: 34px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts-info-comment {
    margin-bottom: 16px;
}

.modal-rewiew-textarea {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--modaloverlay-color-navybluemodal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-rewiew-textarea:hover,
.modal-rewiew-textarea:focus {
    border-color: var(--primarybrand-color-iris, #4D5AE5);
}

.modal-rewiew-input:focus,
.modal-rewiew-input:hover {
    border: 1px solid var(--primarybrand-color-iris, #4D5AE5);
    outline-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline-offset: 5px;
}

.modal-rewiew-wraper {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--dark-color-navy, #2E2F42);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-rewiew-input:focus+.modal-input-icon,
.modal-rewiew-input:hover+.modal-input-icon {
    fill: var(--primarybrand-color-iris, #4D5AE5);
}

.modal-checkbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: baseline;
    margin-bottom: 24px;
}

.modal-rewiew-checkbox {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid var(--modaloverlay-color-navybluemodal, rgba(46, 47, 66, 0.40));
}

.modal-rewiew-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtitletext-color-ligntslate, #8e8f99);
}

/* галка в чекбоксі згоди з політикою конфіденціальності */
.modal-rewiew-checkbox:checked+.modal-rewiew-label-checkbox>.user-policy-checkbox-span {
    background-color: var(--pressedstate-color-ocean, #404bbf);
    border: none;
    fill: var(--light-color-cloud, #F4F4FD);
}

.modal-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--whitebackground-color-wtite, #FFF);
    background-color: var(--primarybrand-color-iris, #4D5AE5);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 24px auto 0;
}

.user-policy-checkbox-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
    text-decoration: underline;
    color: var(--primarybrand-color-iris, #4D5AE5);
}

.nav-menu {
    gap: 40px;
    position: relative;
}

.address-link {
    color: var(--text-color-slate, #434455);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =======  Головна секція 1 =======  */

.main-title {
    background-color: var(--herobackground-color-gray, rgba(46, 47, 66, 0.70));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    background-clip: padding-box;
    margin: 0 auto;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: var(--whitebackground-color-wtite, #FFF);
    font-weight: 700;
    text-align: center;
}

.main-button {
    background-color: var(--primarybrand-color-iris, #4D5AE5);
    color: var(--whitebackground-color-wtite, #FFFFFF);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =======  Секція 2 - Досягнення  =======  */

.defenders-section {
    padding: 96px 0;
}

.defenders-section-ul {
    display: flex;
 }

.defenders-section-li {
    display: flex;
    flex-direction: column;
}

/* ======= Секція 3 - наша команда ============ */

.team-section {
     background-color: var(--light-color-cloud, #F4F4FD);
     flex-shrink: 0;
 }

.team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

 .team-section-ul {
     display: flex;
}

.team-section-li {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-prof {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    width: 232px;
    align-items: center;
    gap: 8px;
}

.team-section-h-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    text-align: center;
 }

.team-section-p {
    color: var(--text-color-slate, #434455);
}

.team-social-links-ul {
    display: flex;
    width: 40px;
    height: 40px;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
}

.team-social-links-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-social-links {
    fill: var(--light-color-cloud, #F4F4FD);
}

/* ======= Секція 4 - Портфоліо ============ */
.portfolio-section {
    padding: 96px 0;
}

.portfolio-title {
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-section-ul {
    display: flex;
}

.portfolio-section-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-app-category {
    padding: 32px 16px;
    border: 1px solid var(--accent-color-cornflower, #e7e9fc);
    border-top: none;
    align-items: flex-start;
    justify-content: flex-start;
}

.portfolio-section-h-three {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

/* ======= Футер - урааааааа ============ */

.footer-block {
    background-color: var(--dark-color-navy, #2E2F42);
    flex-shrink: 0;
}

.footer-logo {
    display: inline-block;
    color: var(--primarybrand-color-iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-span {
    color: var(--light-color-cloud, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-block-p {
    color: var(--light-color-cloud, #F4F4FD);
}

.footer-social-link-p {
    display: block;
    color: var(--whitebackground-color-wtite, #FFF);
    font-weight: 500;
    margin-bottom: 16px;
    text-align: left;
}

.footer-social-links-ul {
    display: flex;
    width: 40px;
    height: 40px;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
}

.footer-social-links-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--primarybrand-color-iris, #4D5AE5);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--success-color-green, #31D0AA);
}

.form-subscribe-p {
    color: var(--whitebackground-color-wtite, #FFF);
    font-weight: 500;
    margin-bottom: 16px;
    text-align: left;
}

.form-input-subscibe {
    color: var(--whitebackground-color-wtite, #FFF);
    font-weight: 500;
    margin-bottom: 16px;
    text-align: left;
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.e-mail-subscribe {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    padding-left: 16px;
    border: 1px solid var(--whitebackground-color-wtite, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.e-mail-subscribe::placeholder {
    color: var(--whitebackground-color-wtite, #FFF);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.button-subscribe {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--whitebackground-color-wtite, #FFF);
    text-align: center;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    border: none;
    background: var(--primarybrand-color-iris, #4D5AE5);
}

.footer-form-label {
    display: flex;
    gap: 16px;
}

.button-icon-send {
    fill: var(--light-color-cloud, #F4F4FD);
    margin-left: 16px;
}

/* =======  Правила для мобілки  =======  */

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-logo {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
    }

/* описаловка меню-бургера і спливаючого вікна-навігації */
    .mobile-burger-btn {
    border: none;
    background-color: transparent;
    padding: 0;
}

    .mobile-burger-btn-icon {
    fill: var(--dark-color-navy, #2E2F42);
}
 
.modal-form {
        width: 288px;
        min-height: 623px;
        padding: 72px 16px 24px 16px;
}

.mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999999999999;
            background-color: var(--whitebackground-color-wtite, #FFFFFF);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    
.nav-panel-mobile {
    color: var(--pressedstate-color-ocean, #404BBF);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    margin-top: 48px;
    margin-bottom: 168px;
}

.nav-menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
}

.address-link-mobile {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.address-menu-mobile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 24px;
}

.mobile-social-list {
    margin-top: 48px;
}

.mobile-social-links-ul {
    display: flex;
    width: 40px;
    height: 40px;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
}

.mobile-social-links-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mobile-social-links {
    fill: var(--light-color-cloud, #F4F4FD);
}

.backgrop-mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.is-open {
        visibility: visible;
        }

    .mobile-menu.is-open,
    .backdrop.is-open {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-nav-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            min-height: 100%;
            background-color: var(--whitebackground-color-wtite, #FFFFFF);
            padding: 24px 24px 40px 16px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-nav-form-x {
        position: relative;
        width: 100%;
        min-height: 100%;
    }

    .nav-menu,
    .address-link {
        display: none;
    }

    /* пішла 1 секція hero */
    .main-title {
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-bg-mobile.jpg);
        max-width: 767px;
        padding: 72px 0;
    }
    
    .main-section {
        height: 288px;
    }

    .hero-title {
        font-size: 36px;
        line-height: 1.11;
        max-width: 170px;
        height: 160px;
    }

    .main-button {
        margin-top: 72px;
    }

    /* пішла 2 секція */
    .icon-defenders-div {
        display: none;
        }
    
    .defenders-section-ul {
    display: flex;
    flex-direction: column;
    gap: 72px; 
    max-width: 100%;
    }

    .section-h-three {
        color: var(--modaloverlay-color-navybluemodal, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: capitalize;
    }

    .defenders-section-p {
        color: var(--text-color-slate, #434455);
        font-weight: 500;
    }

    .defenders-section-li {
        gap: 8px;
    }

    /* Пішла секція номер 3 - команда */
    .team-container {
        padding: 96px 28px;
    }

    .team-section-ul {
        flex-direction: column;
        gap: 72px;
    }

    /* Пішла секція 4 - Потфоліо */
    .overlay {
        display: none;
    }

    .portfolio-section-ul {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 48px;
    }

    .portfolio-section-li {
        width: 100%;
    }

    /* пішов футер */

    .footer-block {
        padding: 96px 0;
    }

    .mobil-logo {
        text-align: center;
    }

    .footer-block-p {
        max-width: 100%;
    }

    .mobil-block-logo {
        margin-bottom: 72px;
    }

    .footer-social-link-p {
        text-align: center;
    }

    .mobil-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 72px;
    }

    .form-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .form-input-subscibe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .button-subscribe {
        width: 165px;
    }

    .e-mail-subscribe {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    padding-left: 16px;
    border: 1px solid var(--whitebackground-color-wtite, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}


.e-mail-subscribe::placeholder {
    color: var(--whitebackground-color-wtite, #FFF);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 0.6;
}

.button-icon-send {
    width: 24px;
    height: 24px;
}
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-bg-mobile@2x.jpg);
    }
}

/* =======  Правила для планшетів  =======  */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-logo {
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        margin-right: 120px;
    }
    .nav-panel {
        display: flex;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        font-weight: 500;
    }

    .mobile-burger-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .address-menu {
        font-weight: 500;
    }
    
    .address-link {
        display: flex;
    }
    
    .is-open {
    visibility: visible;
    }

    .backdrop.backdrop-laptop.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

   .modal-form {
            width: 408px;
            min-height: 584px;
            padding: 72px 24px 24px 24px;
        }
    
    .modal-contacts-info {
        gap: 8px;
        margin-bottom: 8px;
    }

    .mobile-menu.is-open {
        display: none;
    }

    .header-link:focus,
    .header-link:hover,
    .address-link:hover,
    .address-link:focus {
        color: var(--pressedstate-color-ocean, #404BBF);
    }
    
    .main-button:hover,
    .main-button:focus,
    .button-subscribe:hover,
    .button-subscribe:focus,
    .modal-submit:hover,
    .modal-submit:focus {
        background-color: var(--pressedstate-color-ocean, #404BBF);
    }
    
    .activ-page:hover::after {
        text-decoration: underline;
    }
    
    .activ-page::after {
        display: block;
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        left: 0;
        bottom: -24px;
        background-color: #404BBF;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
     }

     /* пішла 1 секція hero */
    .main-title {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg/hero-bg-laptop.jpg);
            min-width: 768px;
            padding: 112px 0;
        }

    .main-section {
        height: 212px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        height: 120px;
    }

    .main-button {
        margin-top: 36px;
    }

    /* пішла 2 секція */
    .icon-defenders-div {
        display: none;
        }
    
    .defenders-section-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .defenders-section-li {
        width: calc((100% - 24px) / 2);
        gap: 8px;
    }

    .section-h-three {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: capitalize;
    }

    .defenders-section-p {
        font-weight: 500;
        font-size: 15.8px;
    }

    /* Пішла секція номер 3 - команда */
    
    .team-container {
        padding: 96px 108px;
        }
    
    .team-section-ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-section-li {
        width: calc((100% - 24px) / 2);
    }

    /* Пішла секція 4 - Потфоліо */
    
    .overlay {
        display: none;
        }
    
    .portfolio-section-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-section-li {
        width: calc((100% - 24px) / 2);
    }

        /* пішов футер */

    .footer-block {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 108px;
    }

    .footer-block-p {
        width: 264px;
    }

    .lap-top-footer {
        display: inline-flex;
        gap: 24px;
        margin-bottom: 72px;
    }

    .e-mail-subscribe {
        opacity: 0.6;
    }

   }
    
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
        .hero {
            background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-bg-laptop@2x.jpg);
            }
        }

/* =======  Правила для десктопів  =======  */

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .header-logo {
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        margin-right: 76px;
    }
    .address-menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    /* пішла 1 секція hero */
    .main-title {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg/hero-bg-desktop.jpg);
        max-width: 1440px;
        padding: 188px 0;
        }

    .main-section {
        height: 224px;
    }
    
    .main-button {
        margin-top: 48px;
    }

    .is-open {
        visibility: visible;
    }

    .modal-rewiew-input {
        padding-left: 38px;
    }

    /* пішла секція 2 */
    .defenders-section {
        padding: 120px 0;
    }
    
    .defenders-container {
        align-items: center;
    }

    .defenders-section-ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 24px;
    }
    
    .defenders-section-li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc((100% - 72px) / 4);
    }

    .icon-defenders-div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            width: 264px;
            background-color: var(--light-color-cloud, #F4F4FD);
            border-radius: 4px;
            margin-bottom: 8px;
            border: 1px solid var(--subtitletext-color-ligntslate, #8E8F99);
            padding: 24px 100px;
        }

/* Пішла секція номер 3 - команда */
       
    .team-container {
        padding: 120px 0;
     }

    .team-section-ul{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 24px;
    }
    
    .team-section-li {
        width: calc((100% - 72px) / 4);
    }

    /* Пішла секція 4 - Потфоліо */
    .overlay {
        display: block;
    }

    .portfolio-section {
        padding: 120px 0;
    }

    .portfolio-section-li:hover,
    .portfolio-section-li:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-pic {
        position: relative;
        overflow: hidden;
    }
    
    .portfolio-section-li:hover .overlay {
        transform: translateY(0%);
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--light-color-cloud, #F4F4FD);
        background-color: var(--primarybrand-color-iris, #4D5AE5);
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-section-ul {
        row-gap: 72px;
    }
    
        .portfolio-section-li {
            width: calc((100% - 48px) / 3);
        }

    /* пішов футер */

    .footer-block {
        padding: 100px 0px 100px 0px;
    }
    
    .footer-container{
        display: flex;
        justify-content: space-between;
    }

    .footer-column {
        margin-right: 120px;
    }

    .e-mail-subscribe::placeholder {
        color: var(--whitebackground-color-wtite, #FFF);
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
    }
}
    
    @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
        screen and (min-resolution: 2dppx) and (min-width: 1158px),
        screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
            .hero {
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero-bg/hero-bg-desktop@2x.jpg);
            }
        }